@import "../../theme.scss";

:host {
  display: block;
  padding: 0; // Removed padding to use the full space for background
  border-radius: 0; // Optional: remove border radius if you want edge-to-edge image
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url('~/images/eSyncmate.png'); // Ensure path is correct and accessible
  background-size: cover; // Covers the entire area of the element
  background-position: center; // Center the background image
  background-repeat: no-repeat; // Prevents repeating the background
  height: 100vh; // Full viewport height
  overflow: hidden; // Prevents any overflow causing scroll
  box-sizing: border-box; // Includes any border and padding in the height
}

mat-form-field {
  width: 66.67%;
  transform: scale(1.5);
}

.login-link {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.login-box h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.login-box h2 {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


.login-link {
  margin-top: 20px;
}

.login-link span {
  margin-right: 10px;
}

mat-grid-list {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.cancel-btn,
.login-btn {
  width: 45%; 
  height: 50px; 
  font-size: 1rem; 
  margin-right: 10px; 
  // background-color: #ccc;
}

.login-btn {
  width: 45%; 
}


html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; // Prevent scrolling on the whole page
}

.mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper {
  position: absolute;
  top: -5px !important;
  left: 0;
  right: 0;
  padding: 0 16px;
}
