/* Scrollable container */
.custom-css {
  height: 400px;
  overflow-y: auto; /* Enables vertical scrolling */
  overflow-x: auto; /* Enables horizontal scrolling */
}

/* Dialog content padding */
.dialog-content {
  padding: 24px;
}

/* Dialog title styling */
.dialog-title {
  margin-bottom: 20px;
  background-color: #d3d3d3;
  font-size: 16px;
  font-weight: bold;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Table styling */
.fixed-table {
  table-layout: fixed;
  width: 200%;
}

.mat-column-CustomerItemCode {
  width: 8% !important;
}

/* Form styling */
.form-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Vertically aligns form elements */
  gap: 16px; /* Spacing between items */
}

.form-field {
  flex: 1; /* Each field takes equal space */
  max-width: 500px; /* Maximum width for fields */
}

.full-width {
  flex: 0 0 98%; /* Full width for single field rows */
}

.mat-form-field {
  flex-grow: 1; /* Expands to fill available space */
  min-width: 120px; /* Minimum width for fields */
}

/* Input padding */
input[matInput] {
  padding: 8px 12px;
}

/* Checkbox styling */
.checkbox-container {
  display: flex;
}

.checkbox-label {
  margin-right: 20px;
}

/* Dialog actions styling */
.dialog-actions {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 24px;
  border-top: 1px solid #eee;
}

.cancel-button {
  color: #666;
}

/* Report card and sections styling */
.report-card {
  margin-bottom: 1rem;
}

.report-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.report-row {
  display: flex;
  margin-right: 8px;
}

.report-row strong {
  width: 200px;
}
.scrollable-content{
  height: 100vh;
}

.report-section, .report-row {
  visibility: visible !important;
}
.report-row-value{
  margin-right: 8px !important;
}