<div class="dialog-container">
  <div class="dialog-header">
    <div class="dialog-header-left">
      <mat-icon class="dialog-header-icon">edit</mat-icon>
      <h2 class="dialog-header-title">{{ 'modifyConnector' | translate }}</h2>
    </div>
    <button mat-icon-button class="dialog-close-btn" (click)="onCancel()"><mat-icon>close</mat-icon></button>
  </div>

  <div mat-dialog-content class="dialog-body">
    <form [formGroup]="updateConnectorForm" class="dialog-form">
      <mat-form-field [ngStyle]="{'display': 'none'}"><input matInput formControlName="id"></mat-form-field>

      <mat-tab-group animationDuration="200ms">

        <mat-tab>
          <ng-template mat-tab-label><mat-icon class="tab-icon">info</mat-icon> General</ng-template>
          <div class="tab-body">
            <div class="form-row">
              <mat-form-field appearance="outline"><mat-label>{{ 'connectorName' | translate }}</mat-label><input matInput formControlName="name"><mat-icon matPrefix>label</mat-icon></mat-form-field>
            </div>
            <div class="form-row">
              <mat-form-field appearance="outline"><mat-label>{{ 'connectorType' | translate }}</mat-label>
                <mat-select formControlName="typeId"><mat-option *ngFor="let ct of connectorTypesOptions" [value]="ct.id">{{ ct.name }}</mat-option></mat-select>
                <mat-icon matPrefix>category</mat-icon>
              </mat-form-field>
              <mat-form-field appearance="outline"><mat-label>{{ 'connectivityType' | translate }}</mat-label>
                <mat-select formControlName="connectivityType"><mat-option *ngFor="let t of connectivityTypeOptions" [value]="t">{{ t }}</mat-option></mat-select>
                <mat-icon matPrefix>cable</mat-icon>
              </mat-form-field>
            </div>
          </div>
        </mat-tab>

        <mat-tab *ngIf="showSqlServerTab">
          <ng-template mat-tab-label><mat-icon class="tab-icon">storage</mat-icon> SQL Server</ng-template>
          <div class="tab-body">
            <div class="form-row">
              <mat-form-field appearance="outline"><mat-label>{{ 'commandType' | translate }}</mat-label><input matInput formControlName="commandType"></mat-form-field>
              <mat-form-field appearance="outline"><mat-label>{{ 'command' | translate }}</mat-label><input matInput formControlName="command"></mat-form-field>
              <mat-form-field appearance="outline"><mat-label>{{ 'keyFieldName' | translate }}</mat-label><input matInput formControlName="keyFieldName"></mat-form-field>
            </div>
            <div class="form-row">
              <mat-form-field appearance="outline"><mat-label>{{ 'dataFieldName' | translate }}</mat-label><input matInput formControlName="dataFieldName"></mat-form-field>
              <mat-form-field appearance="outline"><mat-label>{{ 'customerID' | translate }}</mat-label><input matInput formControlName="customerID"></mat-form-field>
              <mat-form-field appearance="outline"><mat-label>{{ 'jsonDataCollectionName' | translate }}</mat-label><input matInput formControlName="jsonDataCollectionName"></mat-form-field>
            </div>
            <div class="form-row">
              <mat-form-field appearance="outline" class="full-width"><mat-label>{{ 'connectionString' | translate }}</mat-label>
                <input [type]="hide ? 'password' : 'text'" matInput formControlName="connectionString">
                <button mat-icon-button matSuffix (click)="hide = !hide"><mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
                <mat-icon matPrefix>vpn_key</mat-icon>
              </mat-form-field>
            </div>
          </div>
        </mat-tab>

        <mat-tab *ngIf="showRestTab">
          <ng-template mat-tab-label><mat-icon class="tab-icon">http</mat-icon> REST</ng-template>
          <div class="tab-body rest-scroll">
            <div class="form-row">
              <mat-form-field appearance="outline"><mat-label>{{ 'authType' | translate }}</mat-label><input matInput formControlName="authType"></mat-form-field>
              <mat-form-field appearance="outline"><mat-label>{{ 'host' | translate }}</mat-label><input matInput formControlName="host"></mat-form-field>
              <mat-form-field appearance="outline"><mat-label>{{ 'baseURL' | translate }}</mat-label><input matInput formControlName="baseUrl"></mat-form-field>
            </div>
            <div class="form-row">
              <mat-form-field appearance="outline"><mat-label>{{ 'uRL' | translate }}</mat-label><input matInput formControlName="url"></mat-form-field>
              <mat-form-field appearance="outline"><mat-label>{{ 'method' | translate }}</mat-label><input matInput formControlName="method"></mat-form-field>
              <mat-form-field appearance="outline"><mat-label>{{ 'bodyFormat' | translate }}</mat-label><input matInput formControlName="bodyFormat"></mat-form-field>
            </div>
            <div class="form-row">
              <mat-form-field appearance="outline"><mat-label>{{ 'consumerKey' | translate }}</mat-label>
                <input [type]="hide ? 'password' : 'text'" matInput formControlName="consumerKey">
                <button mat-icon-button matSuffix (click)="hide = !hide"><mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
              </mat-form-field>
              <mat-form-field appearance="outline"><mat-label>{{ 'consumerSecret' | translate }}</mat-label>
                <input [type]="consumerSecrethide ? 'password' : 'text'" matInput formControlName="consumerSecret">
                <button mat-icon-button matSuffix (click)="consumerSecrethide = !consumerSecrethide"><mat-icon>{{consumerSecrethide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
              </mat-form-field>
              <mat-form-field appearance="outline"><mat-label>{{ 'token' | translate }}</mat-label>
                <input [type]="tokenHide ? 'password' : 'text'" matInput formControlName="token">
                <button mat-icon-button matSuffix (click)="tokenHide = !tokenHide"><mat-icon>{{tokenHide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
              </mat-form-field>
            </div>
            <div class="form-row">
              <mat-form-field appearance="outline"><mat-label>{{ 'tokenSecret' | translate }}</mat-label>
                <input [type]="tokenSecretHide ? 'password' : 'text'" matInput formControlName="tokenSecret">
                <button mat-icon-button matSuffix (click)="tokenSecretHide = !tokenSecretHide"><mat-icon>{{tokenSecretHide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
              </mat-form-field>
              <mat-form-field appearance="outline"><mat-label>{{ 'realm' | translate }}</mat-label><input matInput formControlName="realm"></mat-form-field>
              <mat-form-field appearance="outline"><mat-label>{{ 'customerID' | translate }}</mat-label><input matInput formControlName="customerID"></mat-form-field>
            </div>
          </div>
        </mat-tab>

        <mat-tab *ngIf="showRestTab">
          <ng-template mat-tab-label><mat-icon class="tab-icon">tune</mat-icon> Headers & Params</ng-template>
          <div class="tab-body">
            <mat-tab-group animationDuration="200ms">
              <mat-tab label="Headers">
                <div class="tab-body">
                  <div class="form-row">
                    <mat-form-field appearance="outline"><mat-label>{{ 'name' | translate }}</mat-label><input matInput formControlName="headerName"></mat-form-field>
                    <mat-form-field appearance="outline"><mat-label>{{ 'value' | translate }}</mat-label><input matInput formControlName="headerValue"></mat-form-field>
                    <button mat-flat-button class="btn-chip-add" (click)="addChips()"><mat-icon>add</mat-icon> {{ 'add' | translate }}</button>
                  </div>
                  <div class="chips-row" *ngIf="headerChipsValues.length > 0">
                    <mat-chip *ngFor="let chip of headerChipsValues; let i = index" removable (removed)="removeChip(i)">
                      {{ chip.name }}: {{ chip.value }}<mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Parameters">
                <div class="tab-body">
                  <div class="form-row">
                    <mat-form-field appearance="outline"><mat-label>{{ 'name' | translate }}</mat-label><input matInput formControlName="paramName"></mat-form-field>
                    <mat-form-field appearance="outline"><mat-label>{{ 'value' | translate }}</mat-label><input matInput formControlName="paramValue"></mat-form-field>
                    <button mat-flat-button class="btn-chip-add" (click)="addParameter()"><mat-icon>add</mat-icon> {{ 'add' | translate }}</button>
                  </div>
                  <div class="chips-row" *ngIf="paramValues.length > 0">
                    <mat-chip *ngFor="let chip of paramValues; let i = index" removable (removed)="removeParam(i)">
                      {{ chip.name }}: {{ chip.value }}<mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </mat-tab>

      </mat-tab-group>
    </form>
  </div>

  <div mat-dialog-actions class="dialog-footer">
    <button mat-raised-button class="btn-save" [disabled]="!updateConnectorForm.valid" (click)="updateConnector()">
      <mat-icon>save</mat-icon> {{ 'update' | translate }}
    </button>
  </div>
</div>
