<mat-toolbar color="primary">
  <button mat-icon-button (click)="menuClicked.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <img *ngIf="isGeckotec" src="/assets/images/cropped-logo_small.png" style="height: 52px; width: 207px; margin-left: -620px; ">

  <img src="/assets/images/Bizmate.png" style="height:52px; width: 130px;">

  <div class="user-info">
    <span>
      {{ 'hi' | translate }},
      {{this.api.getTokenUserInfo()?.firstName | titlecase}}
    </span>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/login" *ngIf="!api.getTokenUserInfo()?.firstName">
      <mat-icon>login</mat-icon>
      <span>{{ 'login' | translate }}</span>
    </button>
    <button mat-menu-item routerLink="/change-password" *ngIf="isAdminUser">
      <mat-icon>person_add</mat-icon>
      <span>{{ 'changePassword' | translate }}</span>
    </button>
    <button mat-menu-item routerLink="/register" *ngIf="isAdminUser">
      <mat-icon>account_box</mat-icon>
      <span>{{ 'addUser' | translate }}</span>
    </button>
    <button mat-menu-item (click)="logOut()">
      <mat-icon>logout</mat-icon>
      <span>{{ 'logOut' | translate }}</span>
    </button>
  </mat-menu>
</mat-toolbar>
