.change-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .heading{
    margin-bottom: 2rem;
    font-weight: 500;
}
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  mat-form-field {
    width: 400px;
    margin-bottom: 16px;
  }
  
  button {
    width: 300px;
  }
  