<div class="change-password-container">
  <h1 class="heading">{{ 'changePassword' | translate }}</h1>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'oldPassword' | translate }}</mat-label>
      <button mat-icon-button matSuffix (click)="toggleOldPasswordVisibility()">
        <mat-icon>{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <input matInput [type]="hideOldPassword ? 'password' : 'text'" formControlName="oldPassword" required>
      <mat-error *ngIf="changePasswordForm.get('oldPassword')?.hasError('required')">
        {{ 'oldPasswordIsRequired' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'newPassword' | translate }}</mat-label>
      <button mat-icon-button matSuffix (click)="toggleNewPasswordVisibility()">
        <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword" required>
      <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">
        {{ 'newPasswordIsRequired' | translate }}
      </mat-error>
      <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')">
        {{ 'newPasswordMinLengthError' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'confirmPassword' | translate }}</mat-label>
      <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()">
        <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" required>
      <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')">
        {{ 'confirmPasswordIsRequired' | translate }}
      </mat-error> 
      <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('passwordMismatch')">
        {{ 'passwordsMustMatchError' | translate }}
      </mat-error>
      <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('minlength')">
        {{ 'confirmPasswordMinLengthError' | translate }}
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">{{ 'changePassword' | translate }}</button>
  </form>
</div>
