CREATE PROCEDURE [dbo].[Sp_DownloadPriceDataDescriprncy]
    @p_CustomerID        NVARCHAR(500) = '',
    @p_UserNo        INT = 0
AS
BEGIN
    DECLARE @l_CustomerID		 NVARCHAR(500)
    DECLARE @l_UserNo		 INT
    
    BEGIN TRY
        SET @l_CustomerID = @p_CustomerID;	
        SET @l_UserNo = @p_UserNo;
		
		SELECT  [Data],PR.CustomerID,PR.ItemID
		FROM [dbo].PriceDiscrepencies PR WITH (NOLOCK)
		WHERE PR.CustomerID = @l_CustomerID  
	
	END TRY
    BEGIN CATCH
        
        DECLARE @ErrorMessage NVARCHAR(MAX);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();
        
        PRINT 'Error Message: ' + @ErrorMessage;
        THROW;
    END CATCH;

END
