ALTER PROCEDURE [dbo].[Sp_ProductCatalogFileHeaderColumn]
    @p_CustomerID        NVARCHAR(500) = '',
    @p_ItemTypeID        NVARCHAR(1000) = '',
    @p_UserNo        INT = 0
AS
BEGIN
    DECLARE @l_CustomerID		 NVARCHAR(500)
    DECLARE @l_ItemTypeID		 NVARCHAR(1000)
    DECLARE @l_UserNo		 INT
    CREATE TABLE #l_HardCodeProperty
    (
        propertyName    VARCHAR(8000)
    )
    CREATE TABLE #l_ExtraProperty
    (
		ID   INT IDENTITY(1,1) PRIMARY KEY,
        propertyName    VARCHAR(8000),
        [Required]		varchar(50)
    )
    
    BEGIN TRY
        SET @l_CustomerID = @p_CustomerID;
        SET @l_ItemTypeID = @p_ItemTypeID;
        SET @l_UserNo = @p_UserNo;

        INSERT INTO #l_HardCodeProperty(propertyName)
        VALUES ('"Brand"'),
               ('"ItemID"'),
               ('"UPC"'),
               ('"ItemTypeName"'),
               ('"ProductRelation"'),
               ('"ParentID"'),
               ('"ListPrice"'),
               ('"MapPrice"'),
               ('"OffPrice"'),
               ('"Type"'),
               ('"VariationType"'),
               ('"UnListed"'),
	       ('"is_add_on"'),
               ('"two_day_shipping_eligible"'),
               ('"shipping_exclusion"'),
               ('"seller_return_policy"')

        INSERT INTO #l_ExtraProperty(propertyName,Required)
        SELECT [Name],Required
        FROM SCS_ItemTypeAttribute 
        WHERE Item_Type_Id = @l_ItemTypeID AND CustomerID = @l_CustomerID
        ORDER BY  [Name] ASC
        
		INSERT INTO #l_HardCodeProperty
	    SELECT CASE WHEN [Required] = 'True'  THEN  '"*'+ [propertyName] + '"' ELSE '"' + [propertyName] +'"' END [Name]
	    FROM #l_ExtraProperty 
		ORDER BY ID ASC
        
		SELECT STRING_AGG(propertyName, ',') Name FROM #l_HardCodeProperty
        
    END TRY
    BEGIN CATCH
        
        DECLARE @ErrorMessage NVARCHAR(MAX);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;
        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();
        
        PRINT 'Error Message: ' + @ErrorMessage;
        THROW;
    END CATCH;
    DROP TABLE #l_HardCodeProperty
    DROP TABLE #l_ExtraProperty
END