ALTER PROCEDURE [dbo].[SP_SyncCancelQty]
    @p_CustomerID    VARCHAR(50)  =  ''
AS
BEGIN
    DECLARE @l_CustomerID   VARCHAR(50)
    
    BEGIN TRY
        SET @l_CustomerID = @p_CustomerID;
       
		SELECT OD.[LineNo],SUM(ISNULL(OD.CancelQty,0)) CancelQty ,
				'CANCELED' [Status],'OTHER' Cancellation_Reason,O.OrderNumber,CS.ERPCustomerID CustomerID,
				O.Id,'ACKNOWLEDGED_BY_SELLER' RemainingStatus, SUM(LineQty-ISNULL(CancelQty, 0)-ISNULL(ASNQty, 0)) RemainingQty,SUM(LineQty) LineQty,
				O.ExternalId,'SHIPPED' ShippedStatus, SUM(ISNULL(ASNQty, 0)) ASNQty,OD.UnitPrice
 		FROM Orders O WITH (NOLOCK)
			INNER JOIN OrderDetail OD WITH (NOLOCK) ON O.Id = OD.OrderId
			INNER JOIN Customers CS WITH (NOLOCK) ON O.CustomerId = CS.Id
		WHERE CS.ERPCustomerID = @l_CustomerID AND O.Status IN ('SYNCED','CANCELLED') AND CONVERT(VARCHAR, OD.OrderId)+CONVERT(VARCHAR,OD.[LineNo]) IN (SELECT CONVERT(VARCHAR, OrderId)+CONVERT(VARCHAR,[LineNo]) FROM OrderDetail WHERE ISNULL(Status, '') = 'CANRVD')
		GROUP BY CS.ERPCustomerID, O.Id, O.OrderNumber, O.ExternalId, OD.[LineNo],OD.UnitPrice
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(MAX);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();
        
        PRINT 'Error Message: ' + @ErrorMessage;
        THROW;
    END CATCH;
END
