ALTER PROCEDURE [dbo].[Sp_SaveProductUploadPrices]
     @p_CustomerID        NVARCHAR(500) = '',
    @p_UserNo        INT = 0
AS
BEGIN
    DECLARE @l_CustomerID		 NVARCHAR(500)
    DECLARE @l_UserNo		 INT
    
    BEGIN TRY
        SET @l_CustomerID = @p_CustomerID;
        SET @l_UserNo = @p_UserNo;

		UPDATE PUP
		SET 
			PUP.ListPrice =  temp.ListPrice  ,
			PUP.OffPrice =   temp.OffPrice ,
			PUP.MAPPrice =   temp.MAPPrice,
			PUP.PromoStartDate =  temp.PromoStartDate ,
			PUP.PromoEndDate = temp.PromoEndDate ,
			PUP.ModifiedBy =  @l_UserNo ,
			PUP.ModifiedDate =  GETDATE() ,
			PUP.OldListPrice = temp.OldListPrice ,
			PUP.OldOffPrice =   temp.OldOffPrice ,
			PUP.OldMAPPrice =   temp.OldMAPPrice ,
			PUP.Status =  'NEW' 
		FROM ProductUploadPrices PUP
			INNER JOIN [Temp_ProductUploadPrices] temp  ON temp.CustomerID = PUP.CustomerID AND temp.ItemID = PUP.ItemID
		WHERE temp.CustomerID = @l_CustomerID

		INSERT INTO [ProductUploadPrices] ([CustomerID],[ItemID],[ListPrice],[OffPrice],[MAPPrice],[CreatedDate],    
											[CreatedBy],PromoStartDate,PromoEndDate,Status,OldListPrice,OldOffPrice,OldMAPPrice)
		SELECT temp.CustomerID,temp.ItemID,temp.ListPrice,temp.OffPrice,temp.MAPPrice,GETDATE(),@l_UserNo,temp.PromoStartDate,temp.PromoEndDate,'NEW',
				temp.OldListPrice, temp.OldOffPrice,temp.OldMAPPrice
		FROM [Temp_ProductUploadPrices] temp
			LEFT OUTER JOIN ProductUploadPrices PUP ON temp.CustomerID = PUP.CustomerID AND temp.ItemID = PUP.ItemID
		WHERE temp.CustomerID = @l_CustomerID AND PUP.ItemID IS NULL

		--INSERT INTO PriceDiscrepencies (CustomerID,ItemID,[Data],CreatedDate,CreatedBy)
		--SELECT  PUP.CustomerID,PUP.ItemID,'This item ID is already in the promo  ' + CONVERT(VARCHAR,PUP.PromoStartDate) + ' To ' + CONVERT(VARCHAR,PUP.PromoEndDate) ,GETDATE(),1
		--			FROM ProductUploadPrices PUP
		--				INNER JOIN [Temp_ProductUploadPrices] temp  ON temp.CustomerID = PUP.CustomerID AND temp.ItemID = PUP.ItemID
		--			WHERE temp.CustomerID = @l_CustomerID 

		--IF EXISTS (
		--			SELECT  TOP 1 PUP.ItemId
		--			FROM ProductUploadPrices PUP
		--				INNER JOIN [Temp_ProductUploadPrices] temp  ON temp.CustomerID = PUP.CustomerID AND temp.ItemID = PUP.ItemID
		--			WHERE temp.CustomerID = @l_CustomerID
		--		   )
		--BEGIN
		--	  SELECT  '201' AS Code,'The data has been updated successfully, but data discrepancies on some items. You can download the Price Discrepancies CSV and check the data.' AS [Message], 'The data has been updated successfully, but data discrepancies on some items. You can download the Price Discrepancies CSV and check the data.' AS [Description]
		--END
		--ELSE
		--BEGIN
		--	  SELECT  '200' AS Code,'The data has been updated successfully.' AS [Message], 'The data has been updated successfully.' AS [Description]
		--END

		DELETE FROM Temp_ProductUploadPrices WHERE CustomerID = @l_CustomerID
	
		SELECT  '200' AS Code,'The data has been updated successfully.' AS [Message], 'The data has been updated successfully.' AS [Description]
    END TRY
    BEGIN CATCH
        
        DECLARE @ErrorMessage NVARCHAR(MAX);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT  '400' AS Code,'Invalid product catalog data file.' AS [Message], 'Invalid product catalog data file.' AS [Description]
        
        PRINT 'Error Message: ' + @ErrorMessage;
        THROW;
    END CATCH;

	
END


