ALTER PROCEDURE [dbo].[SP_UpdateOrderStatus]
    @p_CustomerID    VARCHAR(50)  =  NULL,
    @p_RouteType     VARCHAR(250)  =  '',
    @p_ExternalId    VARCHAR(50)  =  '',
	@p_OrderId		INT = 0,
	@p_Data			NVARCHAR(MAX) = ''
AS
BEGIN
    DECLARE @l_CustomerID   INT = 0
	DECLARE @l_ERPCustomerID    VARCHAR(50) = @p_CustomerID
    DECLARE @l_RouteType    NVARCHAR(500) = @p_RouteType
    DECLARE @l_ExternalId   VARCHAR(50) = @p_ExternalId
	DECLARE @l_OrderId   INT = @p_OrderId
    DECLARE @l_Data			VARCHAR(MAX) = @p_Data

    BEGIN TRY
		SELECT @l_CustomerID = Id FROM Customers WHERE ERPCustomerID = @l_ERPCustomerID

		IF @l_RouteType = 'SCSPlaceOrder'
		BEGIN
			UPDATE Orders SET Status = 'SYNCED', ExternalId = @l_ExternalId WHERE CustomerId = @l_CustomerID AND Id = @l_OrderId
		END
        ELSE IF @l_RouteType = 'SCSPlaceOrderError'
        BEGIN
            UPDATE Orders SET Status = 'ERROR' WHERE CustomerId = @l_CustomerID AND Id = @l_OrderId
        END
		ELSE IF @l_RouteType = 'SCSGetOrdersACKError'
        BEGIN
            UPDATE Orders SET Status = 'ACKERROR' WHERE CustomerId = @l_CustomerID AND Id = @l_OrderId
        END
		ELSE IF @l_RouteType = 'WalmartGetOrdersACKError'
        BEGIN
            UPDATE Orders SET Status = 'ACKERROR' WHERE CustomerId = @l_CustomerID AND Id = @l_OrderId
        END
		ELSE IF @l_RouteType = 'SCSASN'
		BEGIN
			UPDATE O SET Status = CASE WHEN X.TotalQty > 0 THEN [Status] ELSE 'SHIPPED' END
            FROM Orders O
                JOIN (SELECT OrderId, SUM(CASE WHEN [Status] IN ('NEW','ASNRVD','CANRVD') THEN LineQty ELSE 0 END) TotalQty 
					  FROM OrderDetail 
					  GROUP BY OrderId) X ON O.Id = X.OrderId
            WHERE O.CustomerId = @l_CustomerID AND O.ExternalId = @l_ExternalId
		END
		ELSE IF @l_RouteType = 'SCSASNError'
		BEGIN
			UPDATE O SET Status = 'ASNERROR'
            FROM Orders O
            WHERE O.CustomerId = @l_CustomerID AND O.ExternalId = @l_ExternalId
		END
        ELSE IF @l_RouteType = 'SCSCancelOrder'
		BEGIN
			UPDATE O SET Status = 'CANCELLED'
            FROM Orders O
            WHERE O.CustomerId = @l_CustomerID AND O.ExternalId = @l_ExternalId

			UPDATE D SET CancelQty = 1, Status = 'CANRVD' 
			FROM OrderDetail D
				JOIN Orders O ON D.OrderId = O.Id
			 WHERE O.CustomerId = @l_CustomerID AND O.ExternalId = @l_ExternalId AND D.Status IN ('NEW')
		END
    END TRY
    BEGIN CATCH     
        DECLARE @ErrorMessage NVARCHAR(MAX);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();
        
        PRINT 'Error Message: ' + @ErrorMessage;
        THROW;
    END CATCH;
END
