<div mat-dialog-content class="dialog-content">
  <h1 class="dialog-title">{{ 'editCustomerProductCatalog' | translate }}</h1>
  <form [formGroup]="updateCustomerProductCatalogForm" class="customerProductCatalog-form">

    <mat-tab-group>
      <mat-tab label="General">
        <br />
        <!-- Row 1: Name -->
        <div class="form-row">
          <mat-form-field class="form-field">
            <mat-label>{{ 'brand' | translate }}</mat-label>
            <input matInput formControlName="brand">
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-label>{{ 'itemID' | translate }}</mat-label>
            <input matInput formControlName="itemID">
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-label>{{ 'upc' | translate }}</mat-label>
            <input matInput formControlName="upc">
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-label>{{ 'itemTypeName' | translate }}</mat-label>
            <input matInput formControlName="itemTypeName">
          </mat-form-field>


        </div>

        <!-- Row 2: Name -->
        <div class="form-row">
          <mat-form-field class="form-field">
            <mat-label>{{ 'productRelation' | translate }}</mat-label>
            <input matInput formControlName="productRelation">
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-label>{{ 'parentID' | translate }}</mat-label>
            <input matInput formControlName="parentID">
          </mat-form-field>

        </div>

      </mat-tab>

      <mat-tab label="Pricing">
        <br />
        <!-- Row 2: Name -->
        <div class="form-row">

          <mat-form-field class="form-field">
            <mat-label>{{ 'listPrice' | translate }}</mat-label>
            <input matInput formControlName="listPrice">
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-label>{{ 'mapPrice' | translate }}</mat-label>
            <input matInput formControlName="mapPrice">
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-label>{{ 'offPrice' | translate }}</mat-label>
            <input matInput formControlName="offPrice">
          </mat-form-field>
        </div>
      </mat-tab>

    </mat-tab-group>
  </form>
</div>

<div mat-dialog-actions class="dialog-actions">
  <button mat-button class="cancel-button" (click)="onCancel()">{{ 'cancel' | translate }}</button>
  <button mat-raised-button color="primary" [disabled]="!updateCustomerProductCatalogForm.valid" (click)="updateCustomerProductCatalog()">{{ 'update' | translate }}</button>
</div>
