<div class="dialog-container">
  <div class="dialog-header">
    <div class="dialog-header-left">
      <mat-icon class="dialog-header-icon">edit</mat-icon>
      <h2 class="dialog-header-title">{{ 'modifyShipNode' | translate }}</h2>
    </div>
    <button mat-icon-button class="dialog-close-btn" (click)="onCancel()"><mat-icon>close</mat-icon></button>
  </div>

  <div mat-dialog-content class="dialog-body">
    <form [formGroup]="updateShipNodeForm" class="dialog-form">
      <mat-form-field [ngStyle]="{'display':'none'}">
        <input matInput formControlName="id">
      </mat-form-field>

      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'ERPCustomerID' | translate }}</mat-label>
          <mat-select formControlName="customerID">
            <mat-option *ngFor="let customer of data.customers" [value]="customer.erpCustomerID">
              {{ customer.erpCustomerID }}
            </mat-option>
          </mat-select>
          <mat-icon matPrefix>storefront</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'warehouse' | translate }}</mat-label>
          <input matInput formControlName="whsid" [matAutocomplete]="whsAuto"
                 (input)="filterWarehouses(updateShipNodeForm.get('whsid')?.value)">
          <mat-autocomplete #whsAuto="matAutocomplete">
            <mat-option *ngFor="let w of filteredWarehouses" [value]="w">{{ w }}</mat-option>
          </mat-autocomplete>
          <mat-icon matPrefix>warehouse</mat-icon>
          <mat-hint>{{ 'warehouseHint' | translate }}</mat-hint>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'shipNode' | translate }}</mat-label>
          <input matInput formControlName="shipNode">
          <mat-icon matPrefix>hub</mat-icon>
        </mat-form-field>
      </div>

    </form>
  </div>

  <div mat-dialog-actions class="dialog-footer">
    <button mat-button class="btn-cancel" (click)="onCancel()">{{ 'cancel' | translate }}</button>
    <button mat-raised-button class="btn-save" [disabled]="!updateShipNodeForm.valid || isSaving" (click)="onUpdate()">
      <mat-icon>save</mat-icon> {{ 'update' | translate }}
    </button>
  </div>
</div>
