<mat-accordion>
  <!-- Order Management -->
  <mat-expansion-panel *ngIf="isSectionVisible(['nav.orders', 'nav.customers']) && company != 'GECKOTECH' && company != 'SURGIMAC'">
    <mat-expansion-panel-header>
      <mat-panel-title> Order Management </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list role="list">
      <ng-container *ngFor="let option of sideNavContent">
        <mat-list-item role="listitem" (click)="goToLink(option)" *ngIf="option.visible && (option.link == 'edi/all-orders' || option.link == 'edi/customers')">
          <a style="cursor: pointer">
            {{ option.title | translate }}
          </a>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="isSectionVisible(['nav.purchaseOrder']) && company?.toUpperCase() == 'SURGIMAC'">
    <mat-expansion-panel-header>
      <mat-panel-title> Purchases </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list role="list">
      <ng-container *ngFor="let option of sideNavContent">
        <mat-list-item role="listitem" (click)="goToLink(option)" *ngIf="option.visible && (option.link == 'edi/purchaseOrder')">
          <a style="cursor: pointer">
            {{ option.title | translate }}
          </a>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-expansion-panel>



  <mat-expansion-panel *ngIf="isSectionVisible(['nav.carrierLoadTender','nav.customers','nav.ediFileCounter']) && company === 'GECKOTECH'">
    <mat-expansion-panel-header>
      <mat-panel-title> Carrier Load Management </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list role="list">
      <ng-container *ngFor="let option of sideNavContent">
        <mat-list-item role="listitem" (click)="goToLink(option)" *ngIf="option.visible && (option.link === 'edi/customers' || option.link === 'edi/carrier' || option.link === 'edi/ediFileCounter')">
          <a style="cursor: pointer">
            {{ option.title | translate }}
          </a>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-expansion-panel>

  <!-- Product Management -->
  <mat-expansion-panel *ngIf="isSectionVisible(['edi/customerProductCatalog', 'edi/productuploadprices', 'edi/inventory','edi/productPrices','edi/invFeedFromNDC','edi/sipmentFromNdc', 'edi/salesInvoiceNdc']) && company != 'GECKOTECH' && company != 'RepaintStudios'">
    <mat-expansion-panel-header>
      <mat-panel-title> Product Management </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list role="list">
      <ng-container *ngFor="let option of sideNavContent">
        <mat-list-item role="listitem" (click)="goToLink(option)" *ngIf="option.visible && (option.link === 'edi/customerProductCatalog' || option.link === 'edi/productuploadprices' || option.link === 'edi/inventory' || option.link === 'edi/productPrices'|| option.link === 'edi/invFeedFromNDC'|| option.link === 'edi/sipmentFromNdc' || option.link == 'edi/salesInvoiceNdc')">
          <a style="cursor: pointer">
            {{ option.title | translate }}
          </a>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-expansion-panel>

  <!-- Setup -->
  <mat-expansion-panel *ngIf="isSectionVisible(['nav.connectors', 'nav.maps', 'nav.partnerGroups', 'nav.routes', 'nav.routeTypes', 'hangfire/dashboard']) && isSetupMenu">
    <mat-expansion-panel-header>
      <mat-panel-title> Setup </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list role="list">
      <ng-container *ngFor="let option of sideNavContent">
        <mat-list-item role="listitem" (click)="goToLink(option)" *ngIf="option.visible && (option.link === 'edi/connectors' || option.link === 'edi/maps' || option.link === 'edi/partnergroups' || option.link === 'edi/routes' || option.link === 'edi/routeTypes' || option.link === 'hangfire/dashboard')">
          <a style="cursor: pointer">
            {{ option.title | translate }}
          </a>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-expansion-panel>

  <!-- Exceptions -->
  <mat-expansion-panel *ngIf="isSectionVisible(['nav.routeExceptions'])">
    <mat-expansion-panel-header>
      <mat-panel-title> Exceptions </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list role="list">
      <ng-container *ngFor="let option of sideNavContent">
        <mat-list-item role="listitem" (click)="goToLink(option)" *ngIf="option.visible && option.link === 'edi/routeExceptions'">
          <a style="cursor: pointer">
            {{ option.title | translate }}
          </a>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-expansion-panel>

  <!-- Admin -->
  <mat-expansion-panel *ngIf="isSectionVisible(['nav.userManagement'])">
    <mat-expansion-panel-header>
      <mat-panel-title> Admin </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list role="list">
      <ng-container *ngFor="let option of sideNavContent">
        <mat-list-item role="listitem" (click)="goToLink(option)" *ngIf="option.visible && option.link === 'edi/users'">
          <a style="cursor: pointer">
            {{ option.title | translate }}
          </a>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
