<div class="dialog-container">
  <div class="dialog-header">
    <div class="dialog-header-left">
      <mat-icon class="dialog-header-icon">edit</mat-icon>
      <h2 class="dialog-header-title">{{ 'modifyRouteTypes' | translate }}</h2>
    </div>
    <button mat-icon-button class="dialog-close-btn" (click)="onCancel()"><mat-icon>close</mat-icon></button>
  </div>
  <div mat-dialog-content class="dialog-body">
    <form [formGroup]="updateRouteTypesForm" class="dialog-form">
      <mat-form-field [ngStyle]="{'display': 'none'}"><input matInput formControlName="id"></mat-form-field>
      <div class="form-row">
        <mat-form-field appearance="outline"><mat-label>{{ 'routeTypesName' | translate }}</mat-label><input matInput formControlName="name"><mat-icon matPrefix>label</mat-icon></mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline" class="full-width"><mat-label>{{ 'description' | translate }}</mat-label><textarea matInput formControlName="description" rows="8"></textarea><mat-icon matPrefix>notes</mat-icon></mat-form-field>
      </div>
    </form>
  </div>
  <div mat-dialog-actions class="dialog-footer">
    <button mat-raised-button class="btn-save" [disabled]="!updateRouteTypesForm.valid" (click)="updateRouteTypes()"><mat-icon>save</mat-icon> {{ 'update' | translate }}</button>
  </div>
</div>
