<div class="dialog-container">
  <div class="dialog-header">
    <div class="dialog-header-left">
      <mat-icon class="dialog-header-icon">edit</mat-icon>
      <h2 class="dialog-header-title">{{ 'modifyPartnerGroup' | translate }}</h2>
    </div>
    <button mat-icon-button class="dialog-close-btn" (click)="onCancel()"><mat-icon>close</mat-icon></button>
  </div>

  <div mat-dialog-content class="dialog-body">
    <form [formGroup]="updatePartnerGroupForm" class="dialog-form">
      <mat-form-field [ngStyle]="{'display': 'none'}"><input matInput formControlName="id"></mat-form-field>

      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'sourceParty' | translate }}</mat-label>
          <mat-select formControlName="sourceParty">
            <mat-option *ngFor="let customers of customerOptions" [value]="customers.id">
              {{ customers.name }}
            </mat-option>
          </mat-select>
          <mat-icon matPrefix>storefront</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'destinationParty' | translate }}</mat-label>
          <mat-select formControlName="destinationParty">
            <mat-option *ngFor="let customers of customerOptions" [value]="customers.id">
              {{ customers.name }}
            </mat-option>
          </mat-select>
          <mat-icon matPrefix>store</mat-icon>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'description' | translate }}</mat-label>
          <textarea matInput formControlName="description" rows="6"></textarea>
          <mat-icon matPrefix>description</mat-icon>
        </mat-form-field>
      </div>
    </form>
  </div>

  <div mat-dialog-actions class="dialog-footer">
    <button mat-raised-button class="btn-save" [disabled]="!updatePartnerGroupForm.valid" (click)="updatePartnerGroup()">
      <mat-icon>save</mat-icon> {{ 'update' | translate }}
    </button>
  </div>
</div>
