.dialog-content {
  padding: 24px;
}

.dialog-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.route-form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Reduced spacing */
}

.form-row {
  display: flex;
  gap: 10px; /* Reduced spacing */
  flex-wrap: wrap;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 24px;
  border-top: 1px solid #eee;
}

.cancel-button {
  color: #666;
}


.checkbox-container {
  display: flex;
}

.checkbox-label {
  margin-right: 20px;
}

.scrollable-grid {
  max-height: 600px;
  overflow-y: auto;
  padding: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between; /* Aligns the two headings */
  align-items: center; /* Vertically centers the headings if they have different font sizes */
}

.left-title {
  text-align: left; /* Ensures left alignment */
  margin: 0; /* Optional: Remove default margin */
}

.right-title {
  text-align: right; /* Ensures right alignment */
  margin: 0; /* Optional: Remove default margin */
}

.banner {
  display: flex; /* Makes the container a flexbox */
  justify-content: flex-end; /* Aligns the content to the right */
  align-items: center; /* Centers the content vertically */
  padding: 10px 15px; /* Adds padding for a banner-like appearance */
  background-color: #f5f5f5; /* Optional: Sets a background color for the banner */
  border-bottom: 1px solid #ddd; /* Optional: Adds a border at the bottom */
}

.banner .dialog-title {
  margin: 0; /* Removes default margin */
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}
.shipped-status {
  background: linear-gradient(to bottom, olivedrab 0%, olivedrab 100%);
  border: 1px solid olivedrab;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: -webkit-inline-box;
  border-radius: 20px;
  transition: background 0.3s ease;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  justify-content: center;
  height: 100%;
  margin: 4px auto;
}

.in-ship-status {
  background: linear-gradient(to bottom, lightslategray 0%, lightslategray 100%);
  border: 1px solid lightslategray;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: -webkit-inline-box;
  border-radius: 20px;
  transition: background 0.3s ease;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  justify-content: center;
  height: 100%;
  margin: 4px auto;
}

.in-cancel-status {
  background: linear-gradient(to bottom, lightskyblue 0%, lightskyblue 100%);
  border: 1px solid lightskyblue;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: -webkit-inline-box;
  border-radius: 20px;
  transition: background 0.3s ease;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  justify-content: center;
  height: 100%;
  margin: 4px auto;
}

.cancelled-status {
  background: linear-gradient(to bottom, brown 0%, brown 100%);
  border: 1px solid brown;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: -webkit-inline-box;
  border-radius: 20px;
  transition: background 0.3s ease;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  justify-content: center;
  height: 100%;
  margin: 4px auto;
}

