<div class="dialog-container">
  <div class="dialog-header">
    <div class="dialog-header-left">
      <mat-icon class="dialog-header-icon">edit</mat-icon>
      <h2 class="dialog-header-title">{{ 'modifyMap' | translate }}</h2>
    </div>
    <button mat-icon-button class="dialog-close-btn" (click)="onCancel()"><mat-icon>close</mat-icon></button>
  </div>
  <div mat-dialog-content class="dialog-body">
    <form [formGroup]="updateMapForm" class="dialog-form">
      <mat-form-field [ngStyle]="{'display': 'none'}"><input matInput formControlName="id"></mat-form-field>
      <div class="form-row">
        <mat-form-field appearance="outline"><mat-label>{{ 'mapName' | translate }}</mat-label><input matInput formControlName="name"><mat-icon matPrefix>label</mat-icon></mat-form-field>
        <mat-form-field appearance="outline"><mat-label>{{ 'mapType' | translate }}</mat-label>
          <mat-select formControlName="typeId"><mat-option *ngFor="let mt of mapTypesOptions" [value]="mt.id">{{ mt.name }}</mat-option></mat-select>
          <mat-icon matPrefix>category</mat-icon>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline" class="full-width map-field"><mat-label>{{ 'map' | translate }}</mat-label>
          <textarea matInput formControlName="map" rows="12"></textarea>
          <mat-icon matPrefix>code</mat-icon>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div mat-dialog-actions class="dialog-footer">
    <button mat-raised-button class="btn-save" [disabled]="!updateMapForm.valid" (click)="updateMap()"><mat-icon>save</mat-icon> {{ 'update' | translate }}</button>
  </div>
</div>
