<div class="dialog-container">
  <div class="dialog-header">
    <div class="dialog-header-left">
      <mat-icon class="dialog-header-icon">notifications_active</mat-icon>
      <h2 class="dialog-header-title">Alerts Configuration</h2>
    </div>
    <button mat-icon-button class="dialog-close-btn" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content class="dialog-body alerts-body">
    <div *ngIf="loading" class="spinner-container">
      <mat-spinner diameter="40"></mat-spinner>
    </div>

    <ng-container *ngIf="!loading">
      <div class="table-wrapper">
        <table mat-table [dataSource]="dataSource" class="alerts-table">

          <ng-container matColumnDef="alertName">
            <th mat-header-cell *matHeaderCellDef>Alert Name</th>
            <td mat-cell *matCellDef="let row">{{ row.alertName }}</td>
          </ng-container>

          <ng-container matColumnDef="frequencyType">
            <th mat-header-cell *matHeaderCellDef>Frequency</th>
            <td mat-cell *matCellDef="let row">{{ row.frequencyType }}</td>
          </ng-container>

          <ng-container matColumnDef="emails">
            <th mat-header-cell *matHeaderCellDef>Emails</th>
            <td mat-cell *matCellDef="let row">
              <div class="truncate-text" [matTooltip]="row.emails">{{ row.emails }}</div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
      </mat-paginator>

      <div *ngIf="!alerts.length" class="no-data">
        <mat-icon>info_outline</mat-icon>
        <span>No alerts configured yet.</span>
      </div>
    </ng-container>
  </div>
</div>
