<div mat-dialog-content class="dialog-content">
  <h1 class="dialog-title">Batch [{{batchID }}] </h1>

  <mat-card>
    <mat-card-content>
      <form [formGroup]="batchWiseInventoryForm">
        <div class="form-row">

          <mat-form-field appearance="fill" color="accent">
            <mat-label>{{ 'itemID' | translate }}</mat-label>
            <input matInput formControlName="itemID">
          </mat-form-field>

          <button mat-flat-button color="accent" (click)="getBatchWiseItemID()">
            <span *ngIf="!showSpinnerforSearch">{{ 'search' | translate }}</span>
            <mat-spinner *ngIf="showSpinnerforSearch" diameter="20"></mat-spinner>
          </button>
        </div>


      </form>
    </mat-card-content>
  </mat-card>

  <div class="mat-table-container">
    <mat-card>
      <mat-card-content>
        <div class="custom-css">
          <table mat-table [dataSource]="dataSource" class="fixed-table">
            <!----ID Column-->

            <ng-container matColumnDef="CustomerID">
              <th mat-header-cell *matHeaderCellDef mat-sticky>{{ 'erpCustomerID' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.customerID}} </td>
            </ng-container>

            <ng-container matColumnDef="ItemID">
              <th mat-header-cell *matHeaderCellDef mat-sticky>{{ 'erpItemID' | translate }}</th>
              <td style="width:100%" mat-cell *matCellDef="let element"> {{element.itemId}} </td>
            </ng-container>

            <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef mat-sticky>{{ 'status' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="CustomerItemCode">
              <th mat-header-cell *matHeaderCellDef mat-sticky>{{ 'CustomerItemCode' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.customerItemCode}} </td>
            </ng-container>
            <ng-container matColumnDef="ETADate">
              <th mat-header-cell *matHeaderCellDef mat-sticky>{{ 'ETADate' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.etA_Date | date:'MMM-dd-yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="ETAQty">
              <th mat-header-cell *matHeaderCellDef mat-sticky>{{ 'ETAQty' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.etA_Qty}} </td>
            </ng-container>
            <ng-container matColumnDef="TotalATS">
              <th mat-header-cell *matHeaderCellDef mat-sticky>{{ 'TotalATS' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.total_ATS}} </td>
            </ng-container>

            <ng-container matColumnDef="ATSL10">
              <th mat-header-cell *matHeaderCellDef mat-sticky>{{ 'ATSL10' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.atS_L10}} </td>
            </ng-container>
            <ng-container matColumnDef="ATSL21">
              <th mat-header-cell *matHeaderCellDef mat-sticky>{{ 'ATSL21' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.atS_L21}} </td>
            </ng-container>
            <ng-container matColumnDef="ATSL28">
              <th mat-header-cell *matHeaderCellDef mat-sticky>{{ 'ATSL28' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.atS_L28}} </td>
            </ng-container>
            <ng-container matColumnDef="ATSL30">
              <th mat-header-cell *matHeaderCellDef mat-sticky>{{ 'ATSL30' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.atS_L30}} </td>
            </ng-container>
            <ng-container matColumnDef="ATSL34">
              <th mat-header-cell *matHeaderCellDef mat-sticky>{{ 'ATSL34' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.atS_L34}} </td>
            </ng-container>
            <ng-container matColumnDef="ATSL35">
              <th mat-header-cell *matHeaderCellDef mat-sticky>{{ 'ATSL35' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.atS_L35}} </td>
            </ng-container>
            <ng-container matColumnDef="ATSL36">
              <th mat-header-cell *matHeaderCellDef mat-sticky>{{ 'ATSL36' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.atS_L36}} </td>
            </ng-container>
            <ng-container matColumnDef="ATSL37">
              <th mat-header-cell *matHeaderCellDef mat-sticky>{{ 'ATSL37' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.atS_L37}} </td>
            </ng-container>
            <ng-container matColumnDef="ATSL40">
              <th mat-header-cell *matHeaderCellDef mat-sticky>{{ 'ATSL40' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.atS_L40}} </td>
            </ng-container>
            <ng-container matColumnDef="ATSL41">
              <th mat-header-cell *matHeaderCellDef mat-sticky>{{ 'ATSL41' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.atS_L41}} </td>
            </ng-container>
            <ng-container matColumnDef="ATSL55">
              <th mat-header-cell *matHeaderCellDef mat-sticky>{{ 'ATSL55' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.atS_L55}} </td>
            </ng-container>
            <ng-container matColumnDef="ATSL60">
              <th mat-header-cell *matHeaderCellDef mat-sticky>{{ 'ATSL60' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.atS_L60}} </td>
            </ng-container>

            <ng-container matColumnDef="ATSL70">
              <th mat-header-cell *matHeaderCellDef mat-sticky>{{ 'ATSL70' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.atS_L70}} </td>
            </ng-container>

            <ng-container matColumnDef="ATSL91">
              <th mat-header-cell *matHeaderCellDef mat-sticky>{{ 'ATSL91' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.atS_L91}} </td>
            </ng-container>

            <ng-container matColumnDef="ATSL29">
              <th mat-header-cell *matHeaderCellDef mat-sticky>{{ 'ATSL29' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.atS_L29}} </td>
            </ng-container>

            <ng-container matColumnDef="ATSL65">
              <th mat-header-cell *matHeaderCellDef mat-sticky>{{ 'ATSL65' | translate }}</th>
              <td mat-cell *matCellDef="let element"> {{element.atS_L65}} </td>
            </ng-container>


            <ng-container matColumnDef="File">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="normal button" color="accent" matTooltip="Get Inventory Files" matTooltipPosition="above"
                        (click)="getInventoryFiles(element)">
                  <mat-icon>playlist_add</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          </table>


        </div>

      </mat-card-content>
    </mat-card>
    <mat-paginator [length]="listBatchWiseInventory.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 20, 100,500]"
                   (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>

<div mat-dialog-actions class="dialog-actions">
  <button mat-button class="cancel-button" (click)="onCancel()">{{ 'cancel' | translate }}</button>
</div>
